:root {
  --text: #05121f;
  --background: #e9f2fb;
  --primary: #91bfed;
  --secondary: #d3e5f8;
  --accent: #247fdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  background-color: var(--background);
  color: var(--text);
}

p {
  color: var(--text);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

img {
  width: 100%;
}

h1 {
  margin: 10px;
}

nav {
  width: 100%;
  box-shadow: 0px 1px 1px var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

nav img {
  width: 100px;
  margin: 4px;
}

.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: var(--background);
  color: var(--text);
}

.container1 .about {
  text-align: center;
}

.container1 .contact {
  text-align: center;
  margin-bottom: 10px;
}

.container1 .contact i {
  font-size: 30px;
}

.container1 .contact a {
  font-size: 30px;
  color: var(--text);
}

.socials {
  display: none;
  column-gap: 25px;
  margin: 20px;
}

.icon {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: var(--text);
  border-radius: 50%;
  outline: 2px solid var(--text);
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 4px;
  color: #fff;
}

.icon:hover i {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: var(--accent);
}

.icon--whatsapp:hover {
  background-color: #4fce5d;
  outline-color: #1df228;
}

.icon--facebook:hover {
  background-color: #1778f2;
  outline-color: #1d72f2;
}

.icon--envelope:hover {
  background-color: #f79b03;
  outline-color: #f29d1d;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text);
  outline: 2px solid var(--text);
  padding: 20px 40px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  color: var(--accent);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: var(--text);
  transform: skewX(35deg);
  z-index: -1;
  transition: width 1s;
}

.button:hover::before {
  width: 150%;
}

.socials.show {
  display: flex;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 675px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
  }
  nav ul li {
    padding: 10px;
  }
  .container-flex {
    flex-direction: row;
  }
}
